{% extends "BlogBundle::layout.html.twig" %}

{% block headerTitle %}{{ article.title }} <small>{{ article.subtitle }}</small>{% endblock %}

{% block content %}
    <p>
        {{ article.content }}
    </p>
{% endblock %}